.table-bg-color {
    background-color: #FFD369;
}

.table-header-color {
    background-color: #222831;
    color: #FFD369;
}

.table-format {
    border-radius: 12px;
}

.btn-group-style{
    background-color: #393E46;
    width: 100%;
}

.btn-color{
    background-color: #393E46;
}