.modal-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#modal-header-styling{
    background-color: #FFD369;
    color: #222831;

}

#modal-body-styling{
    background-color: #222831;
    color: #EEEEEE;

}

#modal-footer-styling{
    background-color: #393E46;
    color: #EEEEEE;

}

#button-close{
    background-color: #FFD369;
}